 
.contact_options{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.contact_option{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 1.2rem;
    border: 1px solid transparent ;
    border-radius: 2rem;
    transition: var(--transition);
}
.contact_option:hover{

    background: transparent;
     border-color: var(--color-primary-variant);
}

.icons{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a {
    display: inline-block;
    margin-top: 0.7rem;
    font-size: 0.8rem;
}


@media screen and (max-width:1024px ){
    .contact_options{
         flex-direction: column;
         gap: 1.5rem;
    }
}  
@media screen and (max-width:600px) {
    .contact_options{
        width: var(--container-width-sm);
    }
}
    
 